:root {
	--blue-accent-color: rgb(129, 238, 238);
}

#root {
	font-family: 'Inter', sans-serif;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.header--cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: var(--blue-accent-color);
	color: black;
	text-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.header--cont--left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 1rem;
	font-weight: 800;
}

.header--title {
	font-size: 3rem;
}
.header--subtitle {
	font-size: 1.5rem;
	opacity: 0.9;
}

.header--cont--center {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	flex-grow: 1;
	padding: 1rem;
	font-family: 'Inter', sans-serif;
	color: black;
	text-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

.header--cont--right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin-left: auto;
	margin-right: 2rem;
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
	text-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

.footer--cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	gap: 0.5rem;
	color: white;
	background-color: black;
	opacity: 0.8;
	margin-top: auto;
}
.home--cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	background-image: url('../src/assets/knife_hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.home--cta--text--button {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 4rem;
	padding: 4rem;
	width: 100dvw;
	cursor: pointer;
	backdrop-filter: sepia(90%) brightness(40%);
}

.home--title {
	font-size: 3rem;
	word-wrap: normal;
	opacity: 0.9;
	margin: 0rem 4rem;
	color: white;
	text-shadow: 0.2rem 0.5rem 3rem white;
}

.home--button {
	outline: none;
	border: none;
	word-wrap: normal;
	padding: 1.5rem 2.5rem;
	color: white;
	text-transform: ;
	background-color: var(--blue-accent-color);
	border-radius: 0.5rem;
	font-size: 2rem;
	font-weight: 800;
	text-shadow: 0rem 0rem 1rem white;
	cursor: pointer;
	box-shadow: 0px 0px 5px 5px var(--blue-accent-color);
}

.home--button:hover {
	text-shadow: none;
	border: solid 1px rgba(255, 255, 255, 0.9);
	background-color: white;
	font-family: 'Inter', sans-serif;
	box-shadow: 0px 0px 10px 30px white;
	text-shadow: 0rem 0rem 1rem var(--blue-accent-color);
	color: black;
}

.home--button:focus {
	box-shadow: none;
	text-shadow: none;
}

.catalog--cont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	gap: 1rem;
	margin: 2rem;
	flex-wrap: wrap;
}

.not-found__cont {
	font-family: inter;
	line-height: 1.5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	background-color: black;
}

.not-found__split {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-grow: 1;
	gap: 2rem;

	margin: 2rem 2rem 2rem 0rem;
}

.not-found__left {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: right;
	gap: 1rem 2rem;
	text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.not-found__404 {
	font-size: 8rem;
	transform: rotate(-5deg);
	align-self: center;
	letter-spacing: 1rem;
}

.not-found__image {
	width: 50%;
	box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
	border-radius: 0.5rem;
}

.not-found__title {
	font-size: 2rem;
	opacity: 0.8;
}

.not-found__text {
	font-size: 1rem;
	width: 80%;
	align-self: end;
	letter-spacing: 0.2rem;
}

em {
	font-weight: bold;
	color: var(--blue-accent-color);
}

.not-found__button {
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	border: none;
	background-color: rgba(255, 255, 255, 0.5);
	color: white;
	cursor: pointer;
	margin: 2rem;
	opacity: 0.8;
}

.not-found__button:hover {
	background-color: var(--blue-accent-color);
	color: black;
	opacity: 1;
}

a {
	text-decoration: none;
	color: white;
}

.product--cont {
	display: flex;
	flex-direction: column;
	width: 15rem;
	gap: 1rem;
	background: rgba(128, 128, 128, 0.342);
	padding: 1rem;
	border-radius: 0.25rem;
}

.product--cont--image {
	border-radius: 0.5rem;
	box-shadow: 0px 0px 5px 0.5px var(--blue-accent-color);
}

.product--cont--bottom {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.product--cont--bottom--bottom {
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
}

.product--qty--input {
	width: 3rem;
}

.product--qty--increment {
	flex-shrink: 0;
	background-color: white;
}

.product--name,
.product--qty--increment,
.product--qty--input,
.product--add--to--cart {
	font-size: 1.25rem;
	font-weight: 700;
	line-height: 1.5rem;
}

.product--add--to--cart {
	background-color: black;
	color: white;
	opacity: 0.78;
}

.product--add--to--cart:hover,
.product--qty--increment:hover {
	scale: 103%;
}

.product--price {
	font-weight: 500;
	font-size: 0.9rem;
}

.product--qty--increment,
.product--add--to--cart,
.product--qty--input {
	border-radius: 0.25rem;
	border: none;
	padding: 0.25rem 0.75rem;
}

.product--qty--label {
	margin-right: auto;
}

button {
	cursor: pointer;
}

.cart--item--cont {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	gap: 1rem 1rem;
	align-items: center;
	padding: 10px;
	border: 1px solid #ccc;
	margin: 0px 1rem 20px 1rem;
}

.product--qty--increment {
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 5px 10px;
	cursor: pointer;
}

.cart--item--qty {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.product--qty--input {
	width: 50px;
}

.cart--item--delup {
	display: flex;
	gap: 0.5rem;
}

.cart--item--title,
.cart--item--price,
.cart--item--qty,
.cart--item--total {
	display: flex;
	justify-content: center;
	gap: 0.25rem;
}

.cart--item--title,
.cart--item--qty {
	justify-content: flex-start;
}

.cart--item--total {
	justify-content: flex-end;
}

.cart--table--checkoutTotal {
	margin-left: auto;
	margin-right: 5rem;
	padding: 10px;
	border: 1px solid #ccc;
}

.cart--table-checkoutButton {
	width: 10rem;
	margin: 1rem 5rem;
	margin-left: auto;
	border-radius: 0.25rem;
	border: none;
	padding: 0.25rem 0.75rem;
	font-weight: 700;
	line-height: 1.5rem;
	font-size: 1.25rem;
}

.cart--table-checkoutButton:disabled {
	scale: 105%;
	cursor: not-allowed;
}

.product--qty--input .cart {
	background-color: #ccc;
}

.cart--title {
	margin-left: 1rem;
}
